Clefairy_Teacher/Clefairy Teacher/clefteacher.dae
Clefairy_Teacher/Clefairy Teacher/clefteacher.obj
Clefairy_Teacher/Clefairy Teacher/clefteacher.smd
Clefairy_Teacher/Clefairy Teacher/Texture_0.png
Clefairy_Teacher/Clefairy Teacher/Texture_1.png
Clefairy_Teacher/Clefairy Teacher/Texture_2.png
Clefairy_Teacher/Clefairy Teacher/Texture_3.png
Clefairy_Teacher/Clefairy Teacher/Texture_4.png
Clefairy_Teacher/Clefairy Teacher/Texture_5.png
Clefairy_Teacher/Clefairy Teacher/Texture_6.png
Clefairy_Teacher/Clefairy Teacher/Texture_7.png
Clefairy_Teacher/Clefairy Teacher/Texture_8.png
Clefairy_Teacher/Clefairy Teacher/Texture_9.png
Clefairy_Teacher/Clefairy Teacher/Texture_10.png
Clefairy_Teacher/Clefairy Teacher/Texture_11.png
Clefairy_Teacher/Clefairy Teacher/Texture_12.png
Clefairy_Teacher/Clefairy Teacher/Texture_13.png
Dragonair/collision.dae
Dragonair/collision.mtl
Dragonair/collision.obj
Dragonair/hakuryu.dae
Dragonair/hakuryu.mtl
Dragonair/hakuryu.obj
Dragonair/Texture_0_CMP.png
Dragonair/Texture_1_RGB565.png
Dragonair/Texture_2_CMP.png
Dragonair/Texture_3_RGB565.png
Dragonair/Shiny/Texture_0_CMP.png
Dragonair/Shiny/Texture_1_RGB565.png
Dragonair/Shiny/Texture_2_CMP.png
Dragonair/Shiny/Texture_3_RGB565.png
Luigi/1B2572EE_c.png
Luigi/5DD6DB4A_c.png
Luigi/6A105625_c.png
Luigi/7BD6013961D5A0464FCF8D7D30ABD074.png
Luigi/017EEDB88F5115E665BC642F692C61C4.png
Luigi/60D4ADBBE9611ED366B8D1740FCD0659.png
Luigi/79ED3AA1_c.png
Luigi/5043C439_c.png
Luigi/7802E40C_c.png
Luigi/08859FF07E8A4D42B4B263DB0F940DD0.png
Luigi/366706EA_c.png
Luigi/arms.png
Luigi/B92D64D_c.png
Luigi/BA91EFBD28BE71767F505A909782FDD2.png
Luigi/C4B5B31C9AE3A2E551BACE347BCBC4D3.png
Luigi/cap.png
Luigi/D38D893F9C2CF3AAD66041589BB770CF.png
Luigi/E5A86E7_c.png
Luigi/gloves.png
Luigi/hair.png
Luigi/luigi.mtl
Luigi/luigi.obj
Luigi/luigijp.mtl
Luigi/luigijp.obj
Luigi/overalls.png
Luigi/shoes.png
Luigi/skin.png
Luigi/cost2/4D935CF7_c.png
Luigi/cost2/21CD7EC6_c.png
Luigi/cost2/33B60F28_c.png
Luigi/cost2/647CD232_c.png
Luigi/cost2/1238CD35_c.png
Luigi/cost2/15007DCF_c.png
Luigi/cost2/arms.png
Luigi/cost2/cap.png
Luigi/cost2/gloves.png
Luigi/cost2/overalls.png
Luigi/cost2/skin.png
Luigi/cost3/3C7E8108_c.png
Luigi/cost3/565BCED7_c.png
Luigi/cost3/arms.png
Luigi/cost3/cap.png
Luigi/cost3/overalls.png
Luigi/cost4/7B4FCF6F_c.png
Luigi/cost4/617281A0_c.png
Luigi/cost4/arms.png
Luigi/cost4/cap.png
Luigi/cost4/overalls.png
Mario/1E555EDC_c.png
Mario/2D4B2E3B_c.png
Mario/5B016C9B_c.png
Mario/6A105625_c.png
Mario/7BD6013961D5A0464FCF8D7D30ABD074.png
Mario/7CD5959C_c.png
Mario/9C1FFE3_c.png
Mario/017EEDB88F5115E665BC642F692C61C4.png
Mario/60D4ADBBE9611ED366B8D1740FCD0659.png
Mario/128A33CA_c.png
Mario/770A8793_c.png
Mario/5002FC35_c.png
Mario/7802E40C_c.png
Mario/08859FF07E8A4D42B4B263DB0F940DD0.png
Mario/arms.png
Mario/BA91EFBD28BE71767F505A909782FDD2.png
Mario/C4B5B31C9AE3A2E551BACE347BCBC4D3.png
Mario/cap.png
Mario/D38D893F9C2CF3AAD66041589BB770CF.png
Mario/gloves.png
Mario/hair.png
Mario/mario.mtl
Mario/mario.obj
Mario/mariojp.mtl
Mario/mariojp.obj
Mario/mariomet.mtl
Mario/mariomet.obj
Mario/overalls.png
Mario/shoes.png
Mario/skin.png
Mario/cost2/40F70D80_c.png
Mario/cost2/4010CB9_c.png
Mario/cost2/arms.png
Mario/cost2/cap.png
Mario/cost2/overalls.png
Mario/cost2/shoes.png
Mario/cost3/7ED3928_c.png
Mario/cost3/6850FD41_c.png
Mario/cost3/arms.png
Mario/cost3/cap.png
Mario/cost3/overalls.png
Mario/cost3/shoes.png
Mario/cost4/5FCBB6E2_c.png
Mario/cost4/7A8CB153_c.png
Mario/cost4/arms.png
Mario/cost4/cap.png
Mario/cost4/overalls.png
Mario/cost4/shoes.png
Mario/cost5/2B4ADC5C_c.png
Mario/cost5/460BD6CD_c.png
Mario/cost5/arms.png
Mario/cost5/cap.png
Mario/cost5/overalls.png
Mario/cost5/shoes.png
Pikachu/2A41F5B6_c.png
Pikachu/4D60BA9F_c.png
Pikachu/4E4DF27D_c.png
Pikachu/5D385488_c.png
Pikachu/5E589416_c.png
Pikachu/6CCDDD93_c.png
Pikachu/7CB81DD4_c.png
Pikachu/7E0A29E6_c.png
Pikachu/11BB7AD6_c.png
Pikachu/50E7A230_c.png
Pikachu/50E7A768_c.png
Pikachu/56CB01D6_c.png
Pikachu/70CB51F_c.png
Pikachu/74E0934_c.png
Pikachu/134F007_c.png
Pikachu/951F0B8_c.png
Pikachu/7627FE76_c.png
Pikachu/17552CE1_c.png
Pikachu/22427A01_c.png
Pikachu/64712FD3_c.png
Pikachu/3202983D_c.png
Pikachu/6388032C_c.png
Pikachu/A0FE5A0_c.png
Pikachu/pika.mtl
Pikachu/pika.obj
Pikachu/yellow.png
Pikachu/cost2/3D61A230_c.png
Pikachu/cost2/3D61A768_c.png
Pikachu/cost2/5AA1FD74_c.png
Pikachu/cost2/6BC80832_c.png
Pikachu/cost2/7F30DD83_c.png
Pikachu/cost2/26C2648A_c.png
Pikachu/cost2/31DAB99D_c.png
Pikachu/cost2/32C7F17B_c.png
Pikachu/cost2/574E8871_c.png
Pikachu/cost2/4673FA5A_c.png
Pikachu/cost2/5947DD93_c.png
Pikachu/cost2/7689E5A0_c.png
Pikachu/cost2/61321CD2_c.png
Pikachu/cost2/4802022A_c.png
Pikachu/cost2/hat.png
Pikachu/cost2/yellow.png
Pikachu/cost3/3943B2A5_c.png
Pikachu/cost3/hat.png
Pikachu/cost4/4D7F6C4A_c.png
Pikachu/cost4/6B01E32A_c.png
Pikachu/cost4/6D31021A_c.png
Pikachu/cost4/7DA1DE74_c.png
Pikachu/cost4/54DA9A9D_c.png
Pikachu/cost4/55C7D27B_c.png
Pikachu/cost4/431FDD2_c.png
Pikachu/cost4/1189E5A0_c.png
Pikachu/cost4/5861A230_c.png
Pikachu/cost4/5861A768_c.png
Pikachu/cost4/7447DD93_c.png
Pikachu/cost4/41309F83_c.png
Pikachu/cost4/D098FF1_c.png
Pikachu/cost4/EC7E932_c.png
Pikachu/cost4/hat.png
Pikachu/cost4/yellow.png
Pit/pitb.obj
Sonic/buckle.png
Sonic/col1.png
Sonic/col2.png
Sonic/col3.png
Sonic/col4.png
Sonic/col5.png
Sonic/README.txt
Sonic/smile.png
Sonic/Sonic_1.mtl
Sonic/Sonic_1.obj
Sonic/tex_000031656d5f6f73.png
Sonic/tex_006567616b5f6f73.png
Yoshi/Body.png
Yoshi/egg.mtl
Yoshi/egg.obj
Yoshi/egg.png
Yoshi/Eye.png
Yoshi/Eye2.png
Yoshi/Eye3.png
Yoshi/Eye4.png
Yoshi/Eye5.png
Yoshi/Eye6.png
Yoshi/Eye7.png
Yoshi/Eye8.png
Yoshi/Eye9.png
Yoshi/Nostrils.png
Yoshi/Saddle.png
Yoshi/tongue.png
Yoshi/tounge.mtl
Yoshi/tounge.obj
Yoshi/Yoshi.mtl
Yoshi/Yoshi.obj
Yoshi/Cost2/Body.png
Yoshi/Cost2/Eye.png
Yoshi/Cost2/Eye2.png
Yoshi/Cost2/Eye3.png
Yoshi/Cost2/Eye4.png
Yoshi/Cost2/Eye5.png
Yoshi/Cost2/Eye6.png
Yoshi/Cost2/Eye7.png
Yoshi/Cost2/Eye8.png
Yoshi/Cost2/Eye9.png
Yoshi/Cost2/Nostrils.png
Yoshi/Cost2/Saddle.png
Yoshi/Cost3/Body.png
Yoshi/Cost3/Eye.png
Yoshi/Cost3/Eye2.png
Yoshi/Cost3/Eye3.png
Yoshi/Cost3/Eye4.png
Yoshi/Cost3/Eye5.png
Yoshi/Cost3/Eye6.png
Yoshi/Cost3/Eye7.png
Yoshi/Cost3/Eye8.png
Yoshi/Cost3/Eye9.png
Yoshi/Cost3/Nostrils.png
Yoshi/Cost3/Saddle.png
Yoshi/Cost4/Body.png
Yoshi/Cost4/Eye.png
Yoshi/Cost4/Eye2.png
Yoshi/Cost4/Eye3.png
Yoshi/Cost4/Eye4.png
Yoshi/Cost4/Eye5.png
Yoshi/Cost4/Eye6.png
Yoshi/Cost4/Eye7.png
Yoshi/Cost4/Eye8.png
Yoshi/Cost4/Eye9.png
Yoshi/Cost4/Nostrils.png
Yoshi/Cost4/Saddle.png
Yoshi/Cost5/Body.png
Yoshi/Cost5/Eye.png
Yoshi/Cost5/Eye2.png
Yoshi/Cost5/Eye3.png
Yoshi/Cost5/Eye4.png
Yoshi/Cost5/Eye5.png
Yoshi/Cost5/Eye6.png
Yoshi/Cost5/Eye7.png
Yoshi/Cost5/Eye8.png
Yoshi/Cost5/Eye9.png
Yoshi/Cost5/Nostrils.png
Yoshi/Cost5/Saddle.png
Yoshi/Cost6/Body.png
Yoshi/Cost6/Eye.png
Yoshi/Cost6/Eye2.png
Yoshi/Cost6/Eye3.png
Yoshi/Cost6/Eye4.png
Yoshi/Cost6/Eye5.png
Yoshi/Cost6/Eye6.png
Yoshi/Cost6/Eye7.png
Yoshi/Cost6/Eye8.png
Yoshi/Cost6/Eye9.png
Yoshi/Cost6/Nostrils.png
Yoshi/Cost6/Saddle.png
Face.class
Model.class
ModelViewer.class
ModelViewer$1.class
ModelViewer$2.class
ModelViewer$3.class
ModelViewer$4.class
Texture.class
TextureVertex.class
Vertex.class
